.u-section-1 {
  background-image: linear-gradient(#34c572, #d9e9ba);
}

.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 596px;
  margin: 119px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 596px;
  margin: 20px 272px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 96px auto 0 324px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: -46px auto 60px 590px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 172px;
    margin-right: 172px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 242px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 220px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    text-transform: none;
    letter-spacing: normal;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-left: auto;
  }
}