.u-section-1 {
  background-image: linear-gradient(#34c572, #d9e9ba);
}

.u-section-1 .u-sheet-1 {
  min-height: 542px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 596px;
  margin: 119px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 596px;
  margin: 20px 272px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  margin: 20px auto 0 435px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: -46px auto 0 576px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  margin: 13px auto 0 409px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: -46px auto 0 576px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  margin: 13px auto 0 431px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: -46px auto 0 576px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  margin: 13px auto 60px 576px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 172px;
    margin-right: 172px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 335px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 476px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 309px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 476px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 331px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 476px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 476px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 223px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 364px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 201px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 364px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 219px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 364px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-left: 132px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 279px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 279px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 128px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 279px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    text-transform: none;
    letter-spacing: normal;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 185px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 185px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 35px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    margin-left: auto;
  }
}