<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="de">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="keywords" content="ACCLIMATE">
	<meta name="description" content="">
	<meta name="page_type" content="np-template-header-footer-from-plugin">
	<title>Acclimate App - Acclimate Mode</title>
	<script class="u-script" type="text/javascript" th:src="@{/js/acclimate.js}" defer=""></script>
	<script class="u-script" type="text/javascript" th:src="@{/js/jquery.js}" defer=""></script>
	<script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
	<meta name="generator" content="Nicepage 3.4.2, nicepage.com">
	<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

	<script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/logo010.png"
	}</script>
	<style>
		body {background-color: black;}
	</style>
	<meta property="og:title" content="Acclimate App">
	<meta property="og:type" content="website">
	<meta name="theme-color" content="#478ac9">
	<link rel="canonical" href="index.html">
	<meta property="og:url" content="index.html">
</head>
<body onload = "start()">
	<div style="width: 800px; hight: 800px;">
		<p id="00" style="position: absolute;top: 0px;left: 150px;transform: rotate(0deg);width: 230px;/*! height: 150px; */overflow: hidden;"></p>
		<p id="04" style="position: absolute;top: 130px;left: 360px;transform: rotate(90deg);width: 230px;/*! height: 150px; */overflow: hidden;"></p>
		<p id="03" style="position: absolute;top: 350px;left: 230px;transform: rotate(180deg);width: 230px;/*! height: 150px; */overflow: hidden;"></p>
		<p id="05" style="position: absolute;top: 210px;left: 0px;transform: rotate(270deg);width: 230px;/*! height: 150px; */overflow: hidden;"></p>
		<p id="01" th:text="${sd} != null ? ${sd} : 'No sensor-data yet.'"></p>
		<p id="02" th:text="${vote} != null ? ${vote} : 'No votes yet.'"></p>
	</div>
</body>
</html>
