<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="ACCLIMATE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Acclimate App</title>
    <link rel="stylesheet" th:href="@{/css/nicepage.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/mode_auswahl.css}" media="screen">
    <script class="u-script" type="text/javascript" th:src="@{/js/jquery.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
    <meta name="generator" content="Nicepage 3.4.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/logo010.png"
    }</script>
    <meta property="og:title" content="Acclimate App">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-ccbc">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1">
                <img th:src="@{images/logo010.png}" class="u-logo-image u-logo-image-1">
            </a>
        </div>
    </header>
    <section class="u-align-center u-clearfix u-gradient u-section-1" id="carousel_7381">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-1">ACCLIMATE</h1>
            <p class="u-font-abril-fatface u-large-text u-text u-text-variant u-text-2">Bitte wähle einen Modus:</p>
            <a th:href="@{acclimate_mode.html}" class="u-border-2 u-border-grey-dark-1 u-btn u-btn-round u-button-style u-radius-32 u-btn-1">Acclimate Mode</a>
            <a th:href="@{participant_mode.html}" class="u-border-2 u-border-grey-dark-1 u-btn u-btn-round u-button-style u-radius-32 u-btn-2">Participant Mode</a>
        </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-521b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">© acclimate - Wahrnehmungsbasierte Interaktion,<br>Wintersemester 2020/21</p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
    </section>
</body>
</html>
